* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    /* Debug */
    /* outline: 1px solid red; */
}

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

